[Unit]
Description=ZeroFlex
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
Type=oneshot
ExecStart=/usr/bin/zeroflex

[Install]
WantedBy=multi-user.target
