[Unit]
Description=ZeroPlex
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
Type=oneshot
ExecStart=/usr/bin/zeroplex

[Install]
WantedBy=multi-user.target
