[Unit]
Description=ZeroTier DNS Companion service for interface %i
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/zt-dns-companion -filter-type interface -filter-include %i

[Install]
WantedBy=sys-subsystem-net-devices-%i.device