[Unit]
Description=Update Zerotier per-interface DNS settings
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
Type=oneshot
ExecStart=/usr/bin/zt-dns-companion
